@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:'Mulish', sans-serif;
}
.nav_style{
	background:#fff;
	box-shadow:0 10px 30px 0 rgba(138,155,165,0.15);
}
.logo{
	position:relative;
	left:-18px;
	font-weight:800;
	color:#fff;
	text-decoration:none;
	font-size:25px;
	letter-spacing: 1px;
	transition:all 0.6s;
}
.navbar-nav li a{
	text-transform:uppercase;
	font-size:14px;
	font-weight:600;
	letter-spacing:2px;
	color:#333;
	position:relative;
}
.navbar-nav li a:before{
	content:'';
	position:absolute;
	top:100%;
	bottom:100%;
	width:0%;
	height:3%;
	background:#784cfb;
	transition:all 0.3s linear;
}
.navbar-nav li a:hover:before{
	width:80%;
}
.navbar-nav .active>.nav-link{
	color:#784cfb !important;
}

@media(max-width:992px){
	.navbar-nav{
		margin-top:40px;
		text-align:center;
	}
}

/*main header*/

.header_text{
	font-size:36px;
	font-weight: bold;
    color: #000000;
	margin-top:80px;
}
.header_text2{
	font-size:18px;
	color:#2d3436;
	margin-bottom:60px;
}
.img-fluid{
	border-radius: 50%;
	
}
.span_header_text{
	color:#784CFB;
}
.hire_me{
	width:160px;
	height:40px;
	background:#784CFB;
	font-size:20px;
	color:#fff;
	text-transform: uppercase;
	outline:none;
	border:none;
	transition:all 0.3s linear;
	-webkit-transition:all 0.3s linear;
}
.about_me{
	width:160px;
	height:40px;
	background: #fff;
	font-size:20px;
	color: #784CFB;
	text-transform: uppercase;
	outline:none;
	border:1px solid #784CFB;
	transition:all 0.3s linear;
	-webkit-transition:all 0.3s linear;
}
.hire_me:hover{
	background: #fff;
	color: #784CFB;
	border:1px solid #784CFB;
}
.about_me:hover{
	background:#784CFB;
	color: #fff;
	border:1px solid #784CFB;
}

/*about section*/

.about_sec{
	padding-top:50px;
}
.main_title h1{
	font-size:80px;
	font-weight:500;
	color:#000;
	text-transform:capitalize;
	text-align:center;
}
.about_text{margin-top:30px;}
.about_text h1{
	font-size:33px;
	color:#000;
	margin-top:-20px;
	margin-bottom:25px;
}
.about_text h2{
	font-size:24px;
}
.about_text p{
	font-size:24px;
	color:#000;
}

/*work expertise section*/

.expert_sec{
	margin-top:50px;
}
.main_title p{
	font-size:26px;
	color:#000;
	text-align:center;
}
.common_div{margin-top:80px;}

.expert_sec .progress{
	width:90%;
	height:14px;
	border-radius:7px;
}
.expert_sec .pb_1{
	width:93%;
	border-radius:7px;
	background-color:#ea2148;
}
.expert_sec .pb_2{
	width:83%;
	border-radius:7px;
	background-color:#ff7230;
}
.expert_sec .pb_3{
	width:66%;
	border-radius:7px;
	background-color:#1c9588;
}
.expert_sec h2{position:relative;}

.expert_h1:after{
	content:"93%";
	position:absolute;
	top:10px;
	right:13%;
	font-size:16px;
	color:#000;
	font-weight:500;
}
.expert_h2:after{
	content:"83%";
	position:absolute;
	top:10px;
	right:13%;
	font-size:16px;
	color:#000;
	font-weight:500;
}
.expert_h3:after{
	content:"66%";
	position:absolute;
	top:10px;
	right:13%;
	font-size:16px;
	color:#000;
	font-weight:500;
}

/*our service section*/

.service_sec{
	padding-top:50px;
	padding-bottom:70px;
}
.services_div{
	position:relative;
	border-radius:#f6f6f6;
	padding:20px 10px 70px 10px;
	margin-top:50px;
	transition:all 0.1s linear;
	box-shadow:0 10px 30px 0 rgba(138, 155, 165, 0.15);
}
.services_div:hover{
	background:#fff;
	box-shadow:0 0 4px 1px grey;
	border-radius: 5px;
}
.services_div h1{
	text-align:center;
	font-size:52px;
	color:#784cfb;
	position:relative;
	width:70px;
	height:70px;
	border-radius:50%;
	margin:auto;
	background:#fff;
}
.services_div h1:hover{
	background:#fff;
	border:1px solid #784cfb;
	transform:scale(1.3);
}
.services_div .service-list-icon{
	width:14px;
	height:14px;
	margin-right:5px;
}
.fa-thumbs-up{
	color:#fff;
	position:absolute;
	bottom:1px;
	left:1px;
}
.services_div:hover .fa-thumbs-up{
	color:#784cfb;
}
.services_div .col-lg-3 .col-md-4 .col-10{
	padding-right:0px !important;
	padding-bottom:0px !important;
}
.services_div li{
	list-style:none;
	font-size:23px;
	color:#000000;
	font-weight:300;
	text-transform:capitalize;
	padding-left:5px;
}
.services_div li:first-child{
	padding-top:20px;
}

/*hire me section*/

.hireme_section{
	padding-top:45px;
	padding-bottom:45px;
	text-align:center;
	background-image:url(img/hire-me-bg.jpg);
	background-size:100% 100%;
	background-attachment:fixed;
}
.hireme_section h1{
	font-size:40px;
	color:#784cfb;
}
.hireme_section p{
	font-size:32px;
	color:#ffffff;
	letter-spacing:3px;
}
.hireme_section h3{
	font-size:30px;
	color:#ffffff;
	margin-top:-10px;
	padding-bottom:30px;
}
/*contact me section*/

.contactme_sec{
	padding-top:50px;
	padding-bottom:50px;
	position:relative;
}
.contact_img img{
	position:absolute;
	bottom:0;
	left:0;
}

/*contact me End part*/

.contact_share_div{
	width:25%;
	height:150px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	border-radius:30px;
	background-color:#f8f6f6;
	transition:all 0.2s linear;
	-webkit-transition:all 0.2s linear;
}
.contact_share_div:hover{
	background-color:#fff;
	filter:drop-shadow(2px 0px 8px rgba(0,0,0,0.18));
}
.contact_share_div:hover .fa-2x{
	color:#784cfb;
}
.contact_share_div p{margin:0;}

@media(max-width:760px){
	.contact_share_div:nth-child(2){
		margin:30px 0 !important;
	}
}

/*social media*/

.socialsites_links .fa-facebook-f, .fa-instagram, .fa-dribbble, .fa-pinterest, .fa-behance{
	color:black;
}
.socialsites_links .fa-facebook-f:hover{
	color:#3b5998;
	transform:scale(1.3);
}
.socialsites_links .fa-instagram:hover{
	color:#e4405f;
	transform:scale(1.3);
}
.socialsites_links .fa-dribbble:hover{
	color:#ea4c89;
	transform:scale(1.3);
}
.socialsites_links .fa-pinterest:hover{
	color:#cb2027;
	transform:scale(1.3);
}
.socialsites_links .fa-behance:hover{
	color:#1769ff;
	transform:scale(1.3);
}

/*footer*/

footer{
	width:100%;
	line-height:50px;
	background:#784cfb;
	color:#fff;
	margin:0;
}

/*responsive*/

@media(max-width:992px){
	.main_title h1{
		font-size:40px;
	}
	.main_title p{
		font-size:18px;
	}
	.header_text{
		font-size:18px;
		font-weight:bold;
	}
	.about_text{
		margin-top:30px;
	}
	.about_text h1{
		font-size:26px;
		font-weight:bold;
	}
	.about_text p{
		font-size:17px;
		line-height:1.5;
	}
	.common_div{
		text-align:center;
		justify-content:center;
		margin-top:30px !important;
		margin:auto;
	}
	.expert_sec h2{
		text-align:left;
	}
	.hireme_section h1{
		font-size:32px;
	}
	.hireme_section p{
		font-size:22px;
		letter-spacing:0px;
	}
	.hireme_section h3{
		font-size:21px;
		color:#fff;
		word-spacing:2px;
	}
	.contact_inner{
		margin:auto;
	}
	.contact_img img{
		/*display:none;*/
	}
}
